{% extends "/layout/default.twig" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="categories seeking">
    <ul class="list-cat">
    {% for category in categories %}
        <li><a href="{{ category.url }}">{{ category.name }}</a></li>        
    {% endfor %}
    </ul> 
</section>
{{ paginate | raw }}
{% endblock %}